# Postest 4

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

In [2]:
df = pd.read_csv('bmw.csv')
df

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,5 Series,2014,11200,Automatic,67068,Diesel,125,57.6,2.0
1,6 Series,2018,27000,Automatic,14827,Petrol,145,42.8,2.0
2,5 Series,2016,16000,Automatic,62794,Diesel,160,51.4,3.0
3,1 Series,2017,12750,Automatic,26676,Diesel,145,72.4,1.5
4,7 Series,2014,14500,Automatic,39554,Diesel,160,50.4,3.0
...,...,...,...,...,...,...,...,...,...
10776,X3,2016,19000,Automatic,40818,Diesel,150,54.3,2.0
10777,5 Series,2016,14600,Automatic,42947,Diesel,125,60.1,2.0
10778,3 Series,2017,13100,Manual,25468,Petrol,200,42.8,2.0
10779,1 Series,2014,9930,Automatic,45000,Diesel,30,64.2,2.0
10780,X1,2017,15981,Automatic,59432,Diesel,125,57.6,2.0

# Info Data

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10781 entries, 0 to 10780
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         10781 non-null  object
 1   year          10781 non-null  int64
 2   price         10781 non-null  int64
 3   transmission  10781 non-null  object
 4   mileage       10781 non-null  int64
 5   fuelType      10781 non-null  object
 6   tax           10781 non-null  int64
 7   mpg           10781 non-null  float64
 8   engineSize    10781 non-null  float64
dtypes: float64(2), int64(4), object(3)
memory usage: 758.2+ KB

In [4]:
df.shape

(10781, 9)

## Dataset 70 : 30
Membagi dataset menjadi training set dan testing set dengan proposal 70 : 30

In [5]:
X = df.iloc[:, : -1]
y = df.iloc[:, -1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

print("Dimensi X_train", X_train.shape)
print("Dimensi X_test", X_test.shape)
print("Dimensi y_train", y_train.shape)
print("Dimensi y_test", y_test.shape)

Dimensi X_train (7546, 8)
Dimensi X_test (3235, 8)
Dimensi y_train (7546,)
Dimensi y_test (3235,)

###  Lakukan normalisasi data pada salah satu attribute menggunakan Min Max scaler (buatlah copy dataset terlebih dahulu)

In [6]:
min_max = MinMaxScaler()

# Copy Data
copy1 = df
dataCopy_normalization = copy1[["price"]]

normalization = min_max.fit_transform(dataCopy_normalization[["price"]])

df_normalization = pd.DataFrame(normalization)
df_normalization.columns =["points_Normalization"]

dataCopy_normalization = dataCopy_normalization.join(df_normalization["points_Normalization"]).reset_index()
dataCopy_normalization = dataCopy_normalization.drop("index", axis=1)

print()
print("Data Sebelum dan Sesudah dilakukan normalisasi : \n")
dataCopy_normalization.head(10)

Data Sebelum dan Sesudah dilakukan normalisasi :

   price  points_Normalization
0  11200              0.081796
1  27000              0.211033
2  16000              0.121057
3  12750              0.094474
4  14500              0.108788
5  14900              0.112060
6  16000              0.121057
7  16250              0.123102
8  14250              0.106743
9  14250              0.106743

Lakukan standarisasi pada dataset (buatlah copy dataset terlebih dahulu)

In [7]:

data_copy = df.copy()

attribute_to_standardize = 'price'


scaler = StandardScaler()


data_copy[attribute_to_standardize] = scaler.fit_transform(data_copy[[attribute_to_standardize]])

print("Atribut 'price' Sebelum dan Sesudah Standarisasi:\n")
print("Sebelum Standarisasi:\n")
print(df[[attribute_to_standardize]].head(10))
print("\nSesudah Standarisasi:\n")
print(data_copy[[attribute_to_standardize]].head(10))

Atribut 'price' Sebelum dan Sesudah Standarisasi:

Sebelum Standarisasi:

   price
0  11200
1  27000
2  16000
3  12750
4  14500
5  14900
6  16000
7  16250
8  14250
9  14250

Sesudah Standarisasi:

      price
0 -1.010373
1  0.373771
2 -0.589874
3 -0.874587
4 -0.721280
5 -0.686238
6 -0.589874
7 -0.567973
8 -0.743181
9 -0.743181

Lakukan Data cleaning pada data dengan nilai null (jika tidak ada nilai null pada dataset, maka buatlah menjadi ada). Ganti nilai null sesuai ketentuan. (bilangan bulat : median/modus, bilangan desimal : mean, tulisan : modus).

# Nilai Null

In [10]:
df.isna().sum()

model            0
year             0
price            0
transmission    11
mileage          0
fuelType        11
tax              0
mpg              0
engineSize      11
dtype: int64

Karena tidak ada nilai null

In [9]:
pd.options.mode.chained_assignment = None

df.transmission[[1,10,20,30,40,50,60,70,80,90,100]]=None;
df.fuelType[[1,10,20,30,40,50,60,70,80,90,100]]=None;
df.engineSize[[1,10,20,30,40,50,60,70,80,90,100]]=None;

df[df.isnull().any(axis=1)]

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
1,6 Series,2018,27000,None,14827,None,145,42.8,NaN
10,X3,2017,15500,None,74907,None,145,52.3,NaN
20,1 Series,2015,9700,None,75124,None,20,70.6,NaN
30,4 Series,2017,16800,None,44011,None,150,65.7,NaN
40,3 Series,2016,15800,None,11231,None,145,47.9,NaN
50,1 Series,2016,13200,None,17393,None,30,65.7,NaN
60,1 Series,2017,12700,None,21809,None,145,53.3,NaN
70,4 Series,2016,15250,None,16584,None,30,62.8,NaN
80,X3,2016,21750,None,19083,None,150,54.3,NaN
90,2 Series,2017,13000,None,34971,None,150,72.4,NaN
100,X3,2016,15900,None,59692,None,145,54.3,NaN

# Data cleaning
Lakukan data cleaning pada data dengan bilangan null pada dataset

In [14]:
strategi2 = SimpleImputer(strategy="mean")

df["engineSize"] = strategi2.fit_transform(df[["engineSize"]])

df.isna().sum()

model            0
year             0
price            0
transmission    11
mileage          0
fuelType        11
tax              0
mpg              0
engineSize       0
dtype: int64

In [15]:
kolom_null = df.columns[df.isna().any()].tolist()
df.drop(columns=kolom_null, inplace=True)
df.isna().sum()

model         0
year          0
price         0
mileage       0
tax           0
mpg           0
engineSize    0
dtype: int64

### Data Bilangan  bulat dengan strategi

In [11]:
strategi1 = SimpleImputer(strategy="median")
df["price"] = strategi1.fit_transform(df[["price"]])
df.isna().sum()

model            0
year             0
price            0
transmission    11
mileage          0
fuelType        11
tax              0
mpg              0
engineSize      11
dtype: int64

In [12]:
print(df.price[[1,10,20,30,40,50,60,70,80,90,100]])

1      27000.0
10     15500.0
20      9700.0
30     16800.0
40     15800.0
50     13200.0
60     12700.0
70     15250.0
80     21750.0
90     13000.0
100    15900.0
Name: price, dtype: float64

### Data Bilangan Desimal dengan Strategi Mean

In [16]:
strategi2 = SimpleImputer(strategy="mean")

df["engineSize"] = strategi2.fit_transform(df[["engineSize"]])

df.isna().sum()

model         0
year          0
price         0
mileage       0
tax           0
mpg           0
engineSize    0
dtype: int64

In [17]:
print(df.engineSize[[1,10,20,30,40,50,60,70,80,90,100]])

1      2.168032
10     2.168032
20     2.168032
30     2.168032
40     2.168032
50     2.168032
60     2.168032
70     2.168032
80     2.168032
90     2.168032
100    2.168032
Name: engineSize, dtype: float64

### Data Tulisan dengan Strategi Modus

In [28]:
from sklearn.impute import SimpleImputer

strategi3 = SimpleImputer(strategy="most_frequent")
df['tax'] = strategi3.fit_transform(df[['tax']])
df.isna().sum()

model         0
year          0
price         0
mileage       0
tax           0
mpg           0
engineSize    0
dtype: int64

In [26]:
print(df.tax[[1,10,20,30,40,50,60,70,80,90,100]])

1      145
10     145
20      20
30     150
40     145
50      30
60     145
70      30
80     150
90     150
100    145
Name: tax, dtype: int64

# Nilai Duplikat
Mendrop nilai duplikat

In [30]:
df[df.duplicated()]

print("Jumlah Data Duplikat : ")
df.duplicated().sum()

Jumlah Data Duplikat :

117

In [31]:
make_duplicated.drop_duplicates(inplace=True)

hasil = make_duplicated.reset_index(drop=True)
print("Jumlah data duplicated setelah di drop :")
hasil.duplicated().sum()

Jumlah data duplicated setelah di drop :

0

## Ganti tipe data salah satu attribute angka

In [35]:
print("Tipe data tenure sebelum diubah :")
df["year"].dtypes

Tipe data tenure sebelum diubah :

dtype('int64')

In [36]:
ubah_dtype = df["year"].astype("float")
print("Tipe data tenure setelah diubah :")
ubah_dtype.dtypes

Tipe data tenure setelah diubah :

dtype('float64')

## Lakukan one hot encoding pada dataset yang kalian miliki

In [39]:
one_hot = OneHotEncoder(sparse_output=False)

df_onehot = one_hot.fit_transform(df[["tax"]])
df_onehot = pd.DataFrame(df_onehot)
df_oh = df[['tax']].join(df_onehot)


df_oh.head(10)

,tax,0,1,2,3,4,5,6,7,8,...,28,29,30,31,32,33,34,35,36,37
0,125,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,145,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,160,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,145,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,160,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,125,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,125,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,145,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,30,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,20,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0